PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Dark-Desire

CLIENT_ORIGIN=http://localhost:5173,http://localhost:3000,http://localhost:5174

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# AWS S3
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_BUCKET=darkdesire-bucket

# EmailJS
EMAILJS_SERVICE_ID=service_xxxx
EMAILJS_TEMPLATE_ID=template_xxxx
EMAILJS_PUBLIC_KEY=public_xxxx
EMAILJS_PRIVATE_KEY=private_xxxx
